h1, h2 {
  text-align: center;
  font-size: 100;
}

.AboutMe {
  font-style: italic;
  text-align: center;
  color:blue;
  font-weight: bold;
  font-size: 50;
}

.FunFacts {
  font-style: oblique;
  text-align: center;
  color:red;
  font-weight: lighter;
}

.Diet {
  color: orange;
  text-align: center;
  font-family: sans-serif;
}

img {
  height: 60%x;
  width: 60%;
  background-color: powderblue:
  position: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
